<html>
<head>
    <meta charset="utf-8" />
    <title>SuperMarket</title>
    <link rel="stylesheet" href="~/assest/bootstrap/css/bootstrap.min.css" />
</head>
<body>
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a asp-controller="Home" asp-action="Index" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap" /></svg>
            <span class="fs-4">Super Market</span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="nav-item"><a class="nav-link" asp-controller="Categories" asp-action="Index">Categories</a></li>
        </ul>
    </header>
    <div class="container">
        <div class="pb-3">
            @RenderSection("title", required: false)
        </div>
        <div>
            @RenderBody()
        </div>
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>