@model CategoriesModel

@{
    string action = ViewBag.Action ?? string.Empty;
}

<form method="post" asp-controller="Categories" asp-action="@action">
    @if (action == "Edit")
    {
        <input type="hidden" asp-for="CategoryId" />
    }

    <div class="card">
        <div class="card-header">
            <h4 class="float-start">Category</h4>
            <a class="float-end btn btn-secondary" asp-controller="Categories" asp-action="Index">Back To List</a>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3 mb-1">
                    <label asp-for="CategoryName" class="form-label fw-bold"></label>
                    <input type="text" asp-for="CategoryName" class="form-control" />
                    <span class="text-danger" asp-validation-for="CategoryName"></span>
                </div>
                <div class="col-md-9 mb-1">
                    <label asp-for="CategoryDescription" class="form-label fw-bold"></label>
                    <textarea asp-for="CategoryDescription" class="form-control"></textarea>
                    <span class="text-danger" asp-validation-for="CategoryDescription"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
                @* <div class="col-12 text-center text-danger" asp-validation-summary="All"></div> *@
            </div>
        </div>
    </div>
</form>