@model CategoriesModel

@if (Model != null)
{
    <partial name="_Categories" model="@Model" />
    
    @*@section title {
    <h1>Category: @Model.CategoryName</h1>
    }
    <p>
        Details<br />
        <ul>
            <li>Id: @Model.CategoryId</li>
            <li>Description: @Model.CategoryDescription</li>
        </ul>
    </p>*@
}